[Unit]
Description=vm-bindcore Global CPU Map Restore Service
Documentation=man:vm-bindcore(1)
After=libvirtd.service
Wants=libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/vm-bindcore/vm_bindcore_restore.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
