[Unit]
Description=vm-bindcore-guest eBPF Interceptor Agent
Documentation=man:vm-bindcore(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/vm-bindcore-guest start --foreground
ExecStop=/usr/bin/vm-bindcore-guest stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
