# SPDX-License-Identifier: GPL-2.0

menu "remote pager device"

config REMOTE_PAGER
	tristate "remote pager"
	default m
	depends on GMEM
	help
		Module used for gmem.
		This is comm part, including send and recv message function
		Used for memory management
		If unsure, say Y.

config REMOTE_PAGER_MASTER
	tristate "remote pager master"
	default m
	depends on REMOTE_PAGER
	help
		Module used for gmem.
		This is host part, used for send and recv message from device
		Used for memory management
		If unsure, say Y.

endmenu
