# 在最后追加以下代码

menu "RB Lock/Semaphore Support"
	depends on MODULES

source "drivers/PriChain_codes/rb_mutex/Kconfig"

source "drivers/PriChain_codes/rb_rwmutex/Kconfig"

source "drivers/PriChain_codes/rb_rwsem/Kconfig"

endmenu