[Unit]
Description=vaffinity Guest Notification Listener Daemon
Documentation=man:vaffinity(1)
After=libvirtd.service qemu-kvm.service
Wants=libvirtd.service

[Service]
Type=simple
ExecStart=/usr/bin/vaffinity listen
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
