[Unit]
Description=vmca Global CPU Map Restore Service
Documentation=man:vmca(1)
After=libvirtd.service
Wants=libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/vmca/vmca_restore.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
